<h1>How to Use?</h1>

  <div id="logo">
    <table class="type09">
      <tr>
        <th><%= image_tag 'welcome.jpg' %></th>
        <td>
          <h1>①自分のデータを登録します。<br>
          sign up now!ボタンを押してください</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'signup.jpg' %></th>
        <td>
          <h1>②データを新規登録します。<br>
          ユーザ情報を入力後、create my accountボタンを押してください</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'login.jpg' %></th>
        <td>
          <h1>③次回以降はログイン出来ます。<br>
          ヘッダーのloginからログインしてください</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'user.jpg' %></th>
        <td>
          <h1>④最初はユーザーの詳細情報がないので、入力します。<br>
          account/settingから遷移してください</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'setting.jpg' %></th>
        <td>
          <h1>⑤ユーザーの年代、性別、身体活動レベルを入力します。<br>
          edit my profileを押下してください</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'settinged.jpg' %></th>
        <td>
          <h1>⑥ユーザー情報が編集されました。</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'foodlist.jpg' %></th>
        <td>
          <h1>⑦ユーザーがその日に食べたものを選択し、グラムを入力します。<br>
          足りない品目を確認リンクを押下します。</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'result.jpg' %></th>
        <td>
          <h1>⑧ユーザーに不足している栄養素が赤で表示されます。<br>
          品目のリンクを押下します。</h1>
        </td>
      </tr>
      <tr>
        <th><%= image_tag 'rakuten.jpg' %></th>
        <td>
          <h1>⑨選択した品目を含むレシピ紹介画面へ遷移します。</h1>
        </td>
      </tr>
    </table>
  </div>
    
      
    

  
