<%= form_for(@user_food) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%# 大分類 %>
    <%= f.label :large %>
    <div class="styled-select blue semi-square">
      <%= f.collection_select :large_id, LargeItem.all, :id, :large_val, 
            :prompt => "大分類を選択してください" %>
    </div>
  
  <%# 中分類 %>
    <%= f.label :middle %>
    <% if @user_food.large_id.nil? %>
      <%= render 'shared/middle_item_select', {:user_food => f, :large_id => LargeItem.first.id} %>
    <% else %>
      <%= render 'shared/middle_item_select', {:user_food => f, :large_id => @user_food.large_id} %>
    <% end %>
  
  <%# 小分類 %>
    <%= f.label :small %>
    <% if @user_food.middle_id.nil? %>
      <%= render 'shared/small_item_select', {:user_food => f, :middle_id => MiddleItem.first.id} %>
    <% else %>
      <%= render 'shared/small_item_select', {:user_food => f, :middle_id => @user_food.middle_id} %>
    <% end %>

　<%# 分量 %>
    <%= f.label :weight %><br>
      <%= f.text_field :weight %>
    <%= f.submit "品目を追加", class: "btn btn-primary" %>
  <br><br>
    <%= f.submit "品目一覧クリア", class: "btn btn-danger" , data: { confirm: "品目一覧を削除します。よろしいですか?" }, name: "delete" %>
<% end %>
