<%= form_for(@user_food) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%# 大分類 %>
  <div class="field">
    <%= f.label :large %><br>
    <%= f.collection_select :large_id, LargeItem.all, :id, :large_val, 
          :prompt => "大分類を選択してください" %>
  </div>
  
  <%# 中分類 %>
  <div class="field">
    <%= f.label :middle %><br>
    <% if @user_food.large_id.nil? %>
      <%= render 'shared/middle_item_select', {:user_food => f, :large_id => LargeItem.first.id} %>
    <% else %>
      <%= render 'shared/middle_item_select', {:user_food => f, :large_id => @user_food.large_id} %>
    <% end %>
  </div>
  
  <%# 小分類 %>
  <div class="field">
    <%= f.label :small %><br>
    <% if @user_food.middle_id.nil? %>
      <%= render 'shared/small_item_select', {:user_food => f, :middle_id => MiddleItem.first.id} %>
    <% else %>
      <%= render 'shared/small_item_select', {:user_food => f, :middle_id => @user_food.middle_id} %>
    <% end %>
  </div>

　<%# 分量 %>
  <div class="field">
    <%= f.label :weight %>
      <%= f.text_field :weight %>
  </div>
  <%= f.submit "Food add", class: "btn btn-primary" %>
<% end %>
