<li id="user_foods-<%= user_food.id %>">
  <%= link_to gravatar_for(user_food.user, size:50), user_food.user %>
  <span class="user"><%= link_to user_food.user.name, user_food.user %></span>
  <span class="content">
    <% large = LargeItem.where(id: user_food.large_id) %>
    <% middle = MiddleItem.where(id: user_food.middle_id) %>
    <% small = SmallItem.where(id: user_food.small_id) %>
  
    <%= small[0].small_val %>
    (中分類：<%= middle[0].middle_val %>
    小分類：<%= large[0].large_val %>)
    <%= user_food.weight %> グラム
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(user_food.created_at) %> ago.
    <% if current_user == user_food.user %>
      <%= link_to "delete", user_food, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>