<h2>品目ポイント計算結果</h2>
<br>
<table class="type09">
  <thead>
    <tr>
      <th></th>
      <% (0..8).each do |i| %>
        <% if @large_flg[i] == "1" %>
          <th><%= link_to @large[i].large_val, "http://recipe.rakuten.co.jp/category/#{@category_id[i]}" %></th>
        <% else %>
          <th><%= @large[i].large_val %></th>
        <% end %>
      <% end %>
      <th>合計</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>標準値</th>
      <% @standards.each do |standard| %>
        <td><%= standard %></td>
      <% end %>
    </tr>
    <tr>
      <th>実際値</th>
      <% (0..8).each do |i| %>
        <% if @large_flg[i] == "1" %>
          <td class="shortage"><%= @large_sum[i] %></td>
        <% else %>
          <td><%= @large_sum[i] %></td>
        <% end %>
      <% end %>
      <td><%= @large_sum[9] %></td>
    </tr>
  </tbody>
</table>